.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--lightGrey) !important;
}

.navbar .nav-brand, 
.navbar .nav-list, 
.navbar .wallet-btn,
.navbar .toggle {
    margin: auto;
}
/* Nav brand */
.navbar .nav-brand {
    grid-column: 1/2;
    width: 100%;
    margin-left: 1rem;
}
.navbar .nav-brand img {
    width: 100%;
    height: 60px;
}
.navbar .nav-brand a h2 span { color: var(--red) }

/* Nav list */
.navbar .nav-list {
    grid-column: 3/11;
    text-transform: capitalize;
    width: 100%;
    place-items: center;
    padding: 1rem 0;
}
.navbar .nav-list ul a {
    padding: 0 1.5rem;
    letter-spacing: var(--mainSpacing);
    font-weight: 700;
    /* color: rgb(170, 149, 133); */
}
/* Nav toggle */
.navbar .toggle { display: none; }

/* Nav icons button */
.navbar .wallet-btn {
    grid-column: 11/13;
    height: 40px;
    width: 100%;
    place-items: center;
}

.navbar .wallet-btn .btn {
    width: 150px;
    height: 100%;
    box-shadow: 5px 5px 5px var(--lightGrey);
    color: var(--orange);
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 700;
}

@media (max-width: 991px) {
    .navbar .nav-brand,
    .navbar .toggle {
        padding: .75rem 1.5rem;
    }

    /* Nav brand */
    .navbar .nav-brand { grid-column: 1/3; margin-left: 0; }

    .navbar .nav-list,
    .navbar .wallet-btn { 
        display: none;
    }

    /* Nav list */
    .navbar .nav-list-mobile {
        display: grid;
        grid-column: 1/14;
        grid-row: 2;
        margin: .5rem 0 0;
        color: var(--darkGrey);
    }

    .navbar .nav-list-mobile ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }

    .navbar .nav-list ul a {
        padding: .5rem 1rem;
        letter-spacing: var(--mainSpacing);
    }

    /* Nav toggle */
    .navbar .toggle {
        display: grid;
        grid-column: 13;
        font-size: 1.25rem;
        cursor: pointer;
        color: rgb(170, 149, 133);
    }
    @media (max-width: 374px) {
        /* Nav brand */
        .navbar .nav-brand { grid-column: 1/4; margin-left: 0; }
    }
}